Flask
flask-cors
qrcode
Pillow
langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
python-dotenv
PyPDF2
faiss-cpu
sentence-transformers
langchain-huggingface
python-docx
langgraph
langchain-text-splitters
bcrypt
PyJWT
reportlab
gunicorn
pymongo